* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    font-family: "Dosis", sans-serif;
    color: #3F3D56;
    font-size: 32px;
    font-weight: 600;
}

h5{
    font-family: "Open Sans", sans-serif; 
    color: #828282;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
}

footer img {
    width: 100%;
}

.negrito{
    color: #3F3D56;
    font-weight: bold;
}

.rosa{
    color: #EE24FF;
}


.cinza{
    color: #828282;
}

footer h5{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-links{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 3em 0;
}